*{
    margin: 0px;
}
.portfolio-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: white;
}
.portfolio-content button{
    background-color: #1a1a1a;
    height: 45px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    
}
.portfolio-content button:hover{
    background-color: #101010;
}
.text-area{
    color: rgb(63, 63, 63);
    background-color: white;
    height: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.text{
    padding: 10px;
}
.text h1{
    font-size: 51.2px;
    padding-bottom: 10px;
}
.portfolio-content img {
    height: 350px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    border-radius: 100%;
}